.widgets-controller {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;

    .widgets-controller-input {
        margin-bottom: 20px;
        margin-right: 20px;
        flex: 1 1 180px;
    }

    .widgets-controller-settings {
        margin-right: 0;
        flex-wrap: wrap;
    }

    .widgets-controller-button,
    .widgets-controller-button{
        max-width: 150px;
        margin-right: 30px;
        min-height: 40px;
    }

    .buttons-and-alert-wrapper {
        flex: 1 1 100%;
        position: relative;
    }

    .error-alert {
        position: absolute;
        top: -45px;
        left: 0;
    }

    .buttons-wrapper {
        justify-content: flex-start;
        align-items: center;
        display: flex;
        min-height: 60px;
    }
}

